body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
.flexible-container{
    display: flex;
}
.top{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    float: left;
    padding: 10px;
    margin: 20px;
}

#first-img{
    width: 80%;
}
h1{
    font-size: 50px;
    color: lightsalmon;
}
span{
    color: coral;
}
h3{
    color: orange;
}
h4{
    color: tomato;
}
p{
    font-size: 20px;
    font-weight: 400px;
    text-align: justify;
}
.middle{
    margin-top: 80px;
    background-image: url(images/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;
    padding: 2px;
}
#second-img{
    width: 90%;
}
#link-button{
    text-decoration: none;
    background-image: linear-gradient(coral, orange);
    border-radius: 5px;
    padding: 10px 40px;
    color: antiquewhite;
    font-weight: bold;
}
.box{
    width: 40%;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 10px solid;
    border-color: rgba(129, 129, 216, 0.719);
}

h2{
    font-size: 40px;
    color: lightsalmon;
}
.bottom{
    margin-top: 80px;
    background-image: url(images/exp-bg.png);
    background-position: left;
    background-repeat: no-repeat;
    padding: 2px;
    
}