body{
    font-family: 'Poppins', sans-serif;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    float: left;
    padding: 2px;
    margin: 20px;
}

#first-img{
    width: 80%;
}
h1{
    font-size: 50px;
    color: lightsalmon;
}
span{
    color: coral;
}
h3{
    color: orange;
}
h4{
    color: tomato;
}
p{
    font-size: 18px;
    font-weight: 10px;
}
#link-button{
    text-decoration: none;
    background-color:tomato;
    border-radius: 5px;
    padding: 10px 40px;
    color: antiquewhite;
    font-weight: 700px;
}